@model VGStorePractica.Models.Categorias

<form method="post" asp-action="DeletePost">
    <input asp-for="IdCategoria" hidden />
    <div class="border p-3">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Categoria</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Nombre"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Nombre" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Orden"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Orden" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Eliminar" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-warning w-100"><i class="fas fa-reply"></i> &nbsp; Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
